.container {
  padding: 32px 0;
  height: 100%;
}

.emailAddress {
  margin-top: 16px;
}

.mainInfo,
.bookings,
.passengers {
  margin-top: 24px;
}

.mainInfo {
  display: flex;
}

.price {
  margin-left: 431px;
}

.booking {
  & + & {
    margin-top: 16px;
  }
}

.passengersText {
  white-space: pre-wrap;
}

.subInfo {
  margin-top: 40px;
}
