$primary: #0dc04b;

$white: #ffffff;
$black: #000000;
$greyLight: #d6d6d6;
$greyDark: #262626;

$error: #ff1f1f;
$success: #0dc04b;

$textPrimary: $greyDark;
$textMuted: transparentize($textPrimary, 0.6);
