@import '../../../lib/styles/tokens';

.content {
  align-items: center;
}

.records {
  padding: 8px 0;
}

.startRecordWrapper {
  display: flex;
  justify-content: space-between;
}

.record {
  display: flex;
  flex-direction: column;
}

.recordDescription {
  white-space: pre-wrap;
}

.arrowIcon {
  align-self: center;
  width: 24px;
  height: 24px;
  margin: 0 24px;
}

.transferInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 8px 16px;
  margin-left: -9px;
  border-left: 1px solid $borderOpaque;
}

.companyAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.airplaneName {
  margin-top: 8px;
}

.transferType {
  margin-top: 2px;
}
