@import '../../colors';

.labelWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  & + .input {
    margin-top: 4px;
  }
}

.input {
  width: 100%;
  border: 2px solid $greyLight;
  border-radius: 8px;
  background-color: $white;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 20px;
  transition: border-color 0.2s;

  &:hover {
    border-color: darken($greyLight, 10%);
  }

  &.success {
    border-color: $success;

    &:hover {
      border-color: darken($success, 10%);
    }
  }

  &.error {
    border-color: $error;

    &:hover {
      border-color: darken($error, 10%);
    }
  }

  &::placeholder {
    color: $textMuted;
  }
}

.statusMessage {
  margin-top: 8px;
}
