//.content {
//  position: relative;
//  height: 100%;
//}

//.mapContainer {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}
//
//.mapContainerGrid {
//  height: calc(100% + var(--vGap));
//}

//.form {
//  padding: 32px 0;
//  position: relative;
//  z-index: 2;
//}

//.mapWrapper {
//  width: 100%;
//  height: 100%;
//}

.wrapper {
  position: relative;
  height: 100%;
}

.formContainer {
  padding: 32px 0;
}

.form {
  position: relative;
  z-index: 2;
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapContainerGrid {
  height: calc(100% + var(--vGap));
}

.map {
  width: calc(100% - 0.5px);
  height: 100%;
}
