.wrapper {
  position: relative;
  height: 100%;
}

.formContainer {
  padding: 32px 0;
}

.form {
  position: relative;
  z-index: 2;
}

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map {
  width: calc(100% - 0.5px);
  height: 100%;
}
