.container {
  padding: 30px 0 32px 0;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  width: 188px;
}

.tabs {
  margin-top: 24px;
}

.order {
  & + & {
    margin-top: 4px;
  }
}