@import '../../../lib/styles/tokens';

.startRecordWrapper {
  display: flex;
  justify-content: space-between;
}

.record {
  display: flex;
  flex-direction: column;
}

.recordDescription {
  margin-top: 4px;
  white-space: pre-wrap;
}

.arrowIcon {
  align-self: center;
  width: 24px;
  height: 24px;
  margin: 0 25px 0 23px;
}
