.subInfo {
  display: flex;
  flex-direction: column;
}

.subInfoImage {
  width: 110px;
  height: 110px;
  padding: 6px;
}

.subInfoTitle {
  margin-top: 24px;
}

.subInfoDescription {
  margin-top: 4px;
}